.homeHeader {
    height: 50vh;
    margin-bottom: 10vh;
}

.jumbotron {
    background-color: transparent;
}

.headerText {
    margin-top: 10vh;
}

.casePic {
    height: 100%;
}
.casePic:hover {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.casePic2:hover {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.caseRow {
    padding-bottom: 5vh;
}