.headerText {
    margin-top: 100px;
    margin-bottom: 100px;
    color: #373A3C;
}
.name {
    font-size: 4.5rem;
    font-weight: 700;
    line-height: 1.2;
}
.subtitle {
    font-size: 3.5rem;
    font-weight: 400;
    line-height: 1.2;
}
@media (max-width: 426px) {
    .headerText {
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .name {
        font-size: 2.5rem;
    }
    .subtitle {
        font-size: 1.5rem;
    }
}

.caseTextContainer {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}
.casePic {
    height: 100%;
}
.casePic:hover {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.casePic2:hover {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.caseRow {
    padding-bottom: 20px;
}