.resume {
    margin-top: 10vh;
}
.pageTitle {
    margin-top: 5vh;
}
ul.b {
    list-style-type: circle;
}
.resumeSection {
    padding-top: 2.5vh;
    padding-bottom: 2.5vh;
}
.pdfLink:link, :visited {
    text-align: center;
    text-decoration: none;
    display: inline-block;
}